<h2>Table</h2>

<form action="/boards" method="post">
  <label for="title">name</label>
  <br>
  <input type="text" name="tilte" id="title">
  <br>
  <hr>
  <label for="intro">content</label><br>
  <textarea name="intro" id="intro" cols="30" rows="10"></textarea>
  <br>
  <input type="button" value="submit">
</form>


action when you submit the data will send to that database